@import url('https://fonts.cdnfonts.com/css/jost');

body {
    background-color: #16231e;
    background-image: url('/img/blackboard.png');
    background-repeat: repeat;
    background-size: 100%;
    color: rgba(255, 255, 255, 0.87);
    --bs-body-font-family: "Jost*", sans-serif;
}

/* Make equations a little smaller on small screens
to make equations better fit the width*/
@media (max-width: 600px) {
    .MathJax {
	font-size: 0.8em;
    }
    .shrinkeq {
	font-size: 70%;
    }

    mjx-container {
	overflow-x: auto;
	overflow-y: hidden;
    }
}

.content {
    max-width: 1200px;
}

.box {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6);
    border-width: thin;
    border-radius: 5px;
    background-color: #291C2F;
    margin-bottom: 2ex;
    padding: 1em;
}

h3.title {
    text-align: center;
    color: #c8d4b5;
    font-size: calc(1.5rem);
}

ul.toc {
    list-style: none;
    padding: 0px;
}

.offcanvas {
    --bs-offcanvas-bg: #070f0c;
    --bs-offcanvas-color: rgba(255, 255, 255, 0.87);
}

.offcanvas-header .btn-close {
    margin: 0px!important;
}

iframe.plotly {
    width: 100%;
    max-width: 750px;
    display: flex;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0!important;
}

.accordion {
    --bs-accordion-btn-bg: #291C2F;
    --bs-accordion-active-bg: #32173e;
    --bs-accordion-active-color: #c8d4b5;
    --bs-accordion-bg: rgba(8, 17, 14, 0.9)!important;
    margin-bottom: 5ex;
}

.accordion-button {
    color: #c8d4b5;
    font-size: 1.5rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c8d4b5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c8d4b5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.card {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    margin-right: 0!important;
    margin-left: 0!important;
    --bs-card-border-color: rgba(255, 255, 255, 0.8);
    --bs-card-border-width: thin;
    --bs-card-bg: rbga(0, 0, 0, 0);
}

.card-header {
    border-radius: 5px 5px 0px 0px;
}

.card-body {
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(8, 17, 14, 0.8);
    background-color: rgba(37, 25, 42, 0.3)
}


.defn .card-header {
    background-color: #0059b3;
}

.defn h5.card-title::before {
    content: "Definition"
}

.eg .card-header {
    background-color: #00802b;
}

.eg h5.card-title::before {
    content: "Example"
}

.ex .card-header {
    background-color: #5c0099;
}

.ex h5.card-title::before {
    content: "Exercise"
}

.lem .card-header {
    background-color: #800000;
}

.lem h5.card-title::before {
    content: "Lemma"
}

.thm .card-header {
    background-color: #800000;
}

.thm h5.card-title::before {
    content: "Theorem"
}

.cor .card-header {
    background-color: #800000;
}

.cor h5.card-title::before {
    content: "Corollary"
}

.pf .card-header {
    background-color: #B36205;
}

.pf h5.card-title::before {
    content: "Proof"
}
