<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark">

    <!-- Centre plotly graph -->
    <style>
      div.plotly-graph-div {margin: auto;}
    </style>
  </head>

  <body>
    {{ content }}

    <script>
      let pab_graph = document.getElementById("pab-plotly");

      function pab_play() {
	  Plotly.animate(pab_graph, null, {"frame": {"duration": 10, "redraw": false}, "transition": {"duration": 0}, "easing": "linear", "fromcurrent": false, "mode": "afterall"}).catch()
      }

      let pab_timer = setInterval(pab_play, 20000);
    </script>

  </body>
</html>
